{{ ansible_managed | comment }}

{# --- Node list in dict insertion order --- #}
{% set _nodes = wireguard.nodes | dict2items %}
{% set _is_hub_spoke = wireguard.topology | mandatory == 'hub-spoke' %}

{# --- Network bases and prefix lengths --- #}
{% set _net4 = wireguard.ipv4_cidr | ansible.utils.ipaddr('network') %}
{% set _net6 = wireguard.ipv6_cidr | ansible.utils.ipaddr('network') %}
{% set _prefix4 = wireguard.ipv4_cidr | ansible.utils.ipaddr('prefix') %}
{% set _prefix6 = wireguard.ipv6_cidr | ansible.utils.ipaddr('prefix') %}

{# --- Current node position --- #}
{% set ns = namespace(my_idx=0) %}
{% for node in _nodes %}
{%   if node.key == ansible_host %}
{%     set ns.my_idx = loop.index %}
{%   endif %}
{% endfor %}

{# --- In hub-spoke, am I a spoke? --- #}
{% set _i_am_spoke = _is_hub_spoke and ns.my_idx != 1 %}

[Interface]
Address = {{ _net4 | ansible.utils.ipmath(ns.my_idx) }}/{{ _prefix4 }}, {{ _net6 | ansible.utils.ipmath(ns.my_idx) }}/{{ _prefix6 }}
ListenPort = {{ wireguard.port }}
PrivateKey = {{ wireguard.private_key | mandatory }}
{% for node in _nodes %}
{%   if node.key != ansible_host %}
{%     set _peer_is_hub = loop.index == 1 %}
{%     if not _is_hub_spoke or not _i_am_spoke or _peer_is_hub %}

[Peer]
# {{ node.key }}
PublicKey = {{ node.value.public_key }}
{%       if wireguard.preshared_key is defined %}
PresharedKey = {{ wireguard.preshared_key }}
{%       endif %}
{%       if _i_am_spoke and _peer_is_hub %}
AllowedIPs = {{ wireguard.ipv4_cidr }}, {{ wireguard.ipv6_cidr }}
{%       else %}
AllowedIPs = {{ _net4 | ansible.utils.ipmath(loop.index) }}/32, {{ _net6 | ansible.utils.ipmath(loop.index) }}/128
{%       endif %}
Endpoint = {{ node.key }}:{{ wireguard.port }}
PersistentKeepalive = {{ wireguard.keepalive }}
{%     endif %}
{%   endif %}
{% endfor %}
