{{ ansible_managed | comment }}
services:
  autoheal:
    image: willfarrell/autoheal
    container_name: {{ autoheal.container_name }}
    restart: unless-stopped
    environment:
      - "AUTOHEAL_CONTAINER_LABEL=all"
      - "AUTOHEAL_START_PERIOD=300"
      - "AUTOHEAL_INTERVAL={{ autoheal.config.interval }}"
      - "AUTOHEAL_DEFAULT_STOP_TIMEOUT=10"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
