{{ ansible_managed | comment }}

127.0.0.1 localhost {{ hostname | default(inventory_hostname + " " + inventory_hostname_short) }}

::1 localhost ip6-localhost ip6-loopback {{ hostname | default(inventory_hostname + " " + inventory_hostname_short) }}
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{% for host in groups['all'] %}
{% if hostvars[host]['ansible_default_ipv4'].address is defined and inventory_hostname != hostvars[host]['inventory_hostname'] %}
{{ hostvars[host]['ansible_default_ipv4'].address }} {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname_short'] }}
{% endif %}
{% if hostvars[host]['ansible_default_ipv6'].address is defined and inventory_hostname != hostvars[host]['inventory_hostname'] %}
{{ hostvars[host]['ansible_default_ipv6'].address }} {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname_short'] }}
{% endif %}
{% endfor %}